/* 留言 */
.description{
    width:100%;
    text-align: left;
    padding:30px 20px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border:1px solid #e3e3e3;
    box-shadow: 1px 1px 5px rgba(97,97,97,.48);
    box-sizing: border-box

}
.description p{
    margin-bottom: 10px;
    font-size: 14px;
}
/* 关于：留言部分 */
.blog_comments{
    width:100%;
    box-sizing: border-box;
    text-align: left
}
.blog_comments_msg{
    margin-top:20px;
    padding:10px;
    display: inline-block;
}
.blog_comment{
    background: #d9edf7;
    border:1px dashed #7ca4c1;
    width:100%;
    box-sizing: border-box;
    padding:10px 10px 20px 10px;
    margin-top:10px;
    color: #31708f;
}
.blog_comment span{
    display: block;
    padding-left: 10px;
}
.blog_comment div{
    display: inline-block;
    padding-left: 10px;
    margin-top:10px;
}
/* 发表评论 */
.send-comments{
    width:100%;
    text-align: left;
    padding:20px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border:1px solid #e3e3e3;
    box-shadow: 1px 1px 5px rgba(97,97,97,.48);
    box-sizing: border-box;
    margin-top:50px;
    margin-bottom: 20px;
}
.send-comments div{
    margin-bottom: 5px;
}
.send-comments input,textarea,button{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: #fff;
    font-size: 14px;
    color: #555;
}
.send-comments input{
    width:220px;
    margin:10px;
    margin-left: 0;
    /* line-height: 1.42857143; */
}
.send-comments textarea{
    width:95%;
    height: 100px;
}
.send-comments button:hover{
    background-color: #d4d4d4;
}